@import '../../../scss/variables';

.ReferencesLabels {
    i {
        color: $orange;
        font-size: 1.5rem;
        display: table-cell;
        vertical-align: middle;
    }
    input[name=tag-add] {
        width: 80%;
    }
    .list-row {
        .btn {
            width: 40px;
            height: 40px;
            margin: 0;
            border-radius: 20px;
            &:hover,&:active, &:focus {
                text-decoration: none;
            }
            &.active, &:active {
                background: $dark-bk;
            }
        }
        
    }
    .info {
        height: 40px;
        display: table;
        h4 {
            display: table-cell;
            vertical-align: middle;
        }
    }
    
    .dropdown {
        &.show {
            > .btn {
                background: $dark-bk;
            }
        }
        > .btn {
            width: 40px;
            height: 40px;
            margin: 0;
            border-radius: 20px;
            display: table;
            &:hover,&:active, &:focus {
                text-decoration: none;
            }
            
        }
    }
    .dropdown-menu {
        width: 250px;
    }
    .dropdown-header {
        font-size: inherit;
    }
   /*  .dropdown-menu {
        left: 0 !important;
    }
    .dropdown-header {
        padding: 9px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */
}