@import '../../scss/vendors/variables';


.app-header {
    border: none;
    .dropdown-menu {
        background-color: $white;
        top: 15px !important;
        max-height: 90vh;
        line-height: 30px;
        min-width: 220px;
        .dropdown-header, .dropdown-item {
            /* display: flex;
            align-items: center;
            justify-content: flex-start; */
            padding: 0;
        } 
        .dropdown-header {
            background-color: transparent;
            color: $dark-text;    
            font-size: inherit;
            /*  color: $dark-text; */
            /* font-size: 1rem;
            font-weight: 700; */
        }
        .dropdown-item {
            border-radius: 0;
            &:not(:last-child) {
                border-bottom: 1px solid $dark-bk;
            }
            &:focus, &:active, &:hover, &.current {
                background-color: $active;
                color: white;
                .fa:before{
                    color: white;
                }
            }
        }
    }
    .header-container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .nav-item {
        min-width: 32px;
        .nav-link {
            color: $active;
            span, .fa-sort-down {
                color: $dark-text;
            }
            .fa-sort-down {
                font-size: 1rem;
                position: absolute;
                top: -1px;
                right: -5px;
            }
            .fa-user {
                font-size: 1.5rem;
            }
        }
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: static;
        margin: 0;
        > img {
            max-width: 106px;
        }
    }
    .navbar-toggler {
        width: 24px;
        min-width: auto;
        margin-right: 1rem;
        span {
            width: 100%;
            height: 2px;
            background-color: $active;
            display: block;
            &:nth-child(2), &:nth-child(3) {
                margin-top: 4px;
            }
        } 
    }
    .header-left-col, .header-right-col {
        display: flex;
        align-items: center;
        
    }
    .navbar-toggler-icon {
        display: block;
        width: auto;
        
    }
    .resources-menu {
        i {
          font-size: 1.6rem;
        }
    }
    .account-nav {
        padding-right: 25px;
        /* .dropdown-menu {
            padding: .875rem;
        } */
        .row {
            align-items: center;
            margin: 0;
        }
        .item {
            line-height: 3.2;
            min-height: 40px; 
            border-bottom: 1px solid $dark-bk;
              
            &.head {
                padding: 0 .875rem;
                i {
                    margin-right: 1rem;
                    color: $alternative-text;
                }
            }
            a {
                display: block;
                width: 100%;
                line-height: 1.3;
                padding: 13px 8px 11px 48px;
                &.current {
                    background-color: $active;
                    color: white;
                }
            }
            &:hover {
               a {
                    background-color: $active;
                    &:hover {
                        text-decoration: none;
                        color: white;
                    }
               }
            }
        }
        i {
            font-size: 1.5rem;
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }
        /* .dropdown-header {
            height: 40px;
        } */
    }
}


@include media-breakpoint-up(md) { 
    .app-header {
        padding: 0 !important;
    }
}

@include media-breakpoint-down(md) { 
    .app-header {
        padding: 0 !important;
    }
}


/* @include media-breakpoint-down(sm) { 
    
} */




@include media-breakpoint-down(xs) { 
    .app-header {
        .account-nav {
            i {
                font-size: 1.6rem;
            }
            .fa-sort-down {
                right: -2px;
            }
        }
        .navbar-toggler {
            position: static;
        }
    }
}

/* @media (max-width: 400px) { 
    .app-header {
        .navbar-brand {
          //  flex: 2;
            //   margin-left: 25%;
        }
    }
} */