@import '../../scss/vendors/variables';


.app-header {
    border: none;
    .dropdown-menu {
        background-color: $white;
        top: 8px !important;
        max-height: 90vh;
        line-height: 30px;
        .dropdown-header {
            background-color: transparent;
            color: $grey;
            font-size: 1rem;
            border-top: 1px solid #c8ced3;
            font-weight: 700;
        }
        .dropdown-item {
            border: none;
            &:focus, &:active, &:hover, &.current {
                background-color: $orange;
                color: white;
                .fa:before{
                    color: white;
                }
            }
        }
        .account {
            .fa {
                &:before {
                    font-size: 20px;
                    color: $grey;
                }
            }
        }
    }
    .header-container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .nav-item {
        min-width: 32px;
        .nav-link {
            color: $theme_color;
            span, .fa-sort-down {
                color: $grey;
            }
            .fa-sort-down {
                font-size: 1rem;
                position: absolute;
                top: -1px;
                right: -5px;
            }
            .fa-user {
                font-size: 1.5rem;
            }
        }
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: static;
        margin: 0;
        > img {
            max-width: 106px;
        }
    }
    .navbar-toggler {
        width: 24px;
        min-width: auto;
        margin-right: 1rem;
        span {
            width: 100%;
            height: 2px;
            background-color: $active;
            display: block;
            &:nth-child(2), &:nth-child(3) {
                margin-top: 4px;
            }
        } 
    }
    .header-left-col {
        display: flex;
        align-items: center;
        .navbar-toggler-icon {
            display: block;
            width: auto;
            
        }
    }
    .header-right-col {
        display: flex;
        align-items: center;
        .account-nav {
            padding-right: 25px;
        }
        
    }
    
}

.resources-menu {
    .resource-icon {
        color:$orange;
        font-size: 1.5em;
    }
}

@include media-breakpoint-up(md) { 
    .app-header {
        padding: 0 !important;
    }
}

@include media-breakpoint-down(md) { 
    .app-header {
        padding: 0 !important;
    }
}


/* @include media-breakpoint-down(sm) { 
    
} */




@include media-breakpoint-down(xs) { 
    .app-header {
        .account-nav {
            i {
                font-size: 1.6rem;
            }
            .fa-sort-down {
                right: -2px;
            }
        }
        .navbar-toggler {
            position: static;
        }
    }
}

/* @media (max-width: 400px) { 
    .app-header {
        .navbar-brand {
          //  flex: 2;
            //   margin-left: 25%;
        }
    }
} */