@import '../../scss/vendors/variables';

.dropdown {
    .fa-sort-down {
        position: absolute;
        top: -6px;
        right: -15px;
    }
}

.app-header .dropdown-menu {
    background-color: $white;
    border: 1px solid #44444426;
    border-radius: 0;
    top: 8px !important;
    box-shadow: 0px 3px 6px #00000029;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 30px;
    .dropdown-header {
        background-color: transparent;
        color: $grey;
        font-size: 1rem;
        border-top: 1px solid #c8ced3;
        font-weight: 700;
    }
    .dropdown-item {
        border: none;
        &:focus, &:active, &:hover, &.current {
            background-color: $orange;
            color: white;
            .fa:before{
                color: white;
            }
        }
    }
    .account {
        .fa {
            &:before {
                font-size: 20px;
                color: $grey;
            }
        }
    }
}

.resources-menu {
    .icon-img {
        width: 25px;
        height: 25px;
    }
}

.navbar-toggler {
    position: absolute;
    left: 1rem;
}

.navbar-toggler-icon {
    display: block;
}

.navbar-brand {
    position: relative;
    > img {
        position: absolute;
        left: 0;
        margin: auto;

    }
}
