@import '../../../scss/variables';

.detail.reference {
    .header {
        display: flex;
        align-items: center;   
        margin: 10px 0 10px 0; 
    }
    .title-section {
        flex: 1;
    }
    .card-body {
        padding: 6.7rem;
    }
}