@import '../../scss/variables';

.wizard-form {
    button{
        max-width: 150px;
        height: 40px;
        float: left;
    }
}

$circleWidth: 40px;

.navigation-wizard {
    margin-bottom: 80px;
    div[class*='col-'] {
        position: relative;
        &:not(:last-child):after {
            content: "";
            position: absolute;
            width: 100%;
            left: 50%;
            height: 1px;
            top: 26px;
            background: $box-color;
        }
    }
    button {
        width: 100% !important;
        opacity: 0.8;
        &.active {
            opacity: 1;
            p {
                text-decoration: underline;
            }
        }
        .circle {
            border-radius: $circleWidth;
            width: $circleWidth;
            height: $circleWidth;
            background-color: #A6525533;
            margin: 0 auto;
            &:before {
                content: "\25CF";
                font-size: 1.5rem;
                color: $active;
                position: relative;
                z-index: 100;
            }
        }
        p {
            font-size: 0.85rem;
            color: $dark-text;
            line-height: 12px;
        }
        &.disabled {
            .circle {
                background-color: transparent;
            }
            p {
                font-size: 0.85rem;
                color: $dark-text;
            }
        }
    }
}

.summary-wizard {
    .row {
        width: 100%;
        padding: 1rem 0;
        //border-bottom: 1px solid $dark-text;
        // &:first-child {
        //      border-top: 1px solid $dark-text;
        // }
        
    }
    & institution_country_name {
        display: none;
    }


    .btn {
        margin-top: 80px;
        width: 200px;
        height: 60px;
    }


p:first-child {
    font-weight: bold;
 }

 .weight-bold {
    font-weight: bold;
 }

 h3 {
    text-align: center;
    padding-bottom: 50px;
 }
 .container_summary {
  columns: 3 auto;
  margin: 5px;
  padding: 30px;
  font-size: 14px;
  }

  .vertical-center {
    padding-top: 50px;
    margin: 0;
    text-align: center;
    position: relative;
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);
  }


}

.report_summary {
    columns: 2 auto;
    margin: 10px;
    padding: 10px 10px 25px 10px;
    column-width: 200px;
    border-bottom: 1px solid;
}

@media print {
    .noprint {
       visibility: hidden;
    }
 }