@import "../../../scss/variables";

 .apply {
    .dropdown-menu {
        max-height: 250px;
        overflow-y: auto;
    }
    .apply-item {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            margin: 0;
            padding: 0;
        }
    }
    .create-new {
        /* padding: 0 0 0 1.7rem; */
        margin: 1rem 0;
        span {
            font-size: 1rem;
            color: $dark-text;
            &.action-btn {
                padding-left: 0.5rem;
                cursor: pointer;
            }
        }
        button {
            width: 60%;
            height: auto;
            text-align: left;
            padding: 0;
        }
    }
}
