.login-form {
    .card {
        padding: 3rem 5rem;
    }
    .card-footer {
        border-bottom: 1px solid #c8ced3;
    }
}

.signUpButton {
    width: 180px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}
