@import '../../scss/variables';
.sidebar .nav-link,
.sidebar-menu .nav-link  {
    padding: .75rem 0.5rem;
    &:hover, &.current {
        background-color: $dark-bk;
    }
    i {
        color: $orange;
    }
    
    i:before {
        padding-right: 10px;
    }
}