@import '../../scss/variables';
.sidebar .nav-link,
.sidebar-menu .nav-link  {
    max-height: 40px;
    padding: 0.571rem 0.5rem;
    height: auto;
    text-align: left;
    span {
        font-size: $font-size-normal;
        padding-left: 10px;
    }
    &:hover, &.current {
        background-color: $dark-bk;
    }
    i {
        color: $orange;
        width: 30px;
        &:before {
            font-size: 18px;
        }
        &.fa-plus {
            font-size: 16px;
            &:before {
                border-radius: 15px;
                background: $orange;
                color: white;
                padding: 3px 4px;
                font-size: inherit;
            }
        }
        
    }
    
    
}