@import '../../scss/vendors/variables';

.sidebar .nav-link {
    padding: .75rem 0.5rem;
    &:hover, &.current {
        background: $orange;
    }
    i:before {
        padding-right: 10px;
    }
}