/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
nildedaily.sql.tgz
/docker/data/db-data/
NILDE6.code-workspace
APPUNTI.md

QUESTIONS.md
nildeSPMetadata.xml

./docker/certs/production
/front_tests
/frontend/.no_git
NOTE.md
00TODO.md
database/migrations/TEMP
frontend/v8-compile-cache-0
nildedevSPMetadata.xml
docker/certs/ssl-cert-snakeoil.key
docker/certs/production/devnilde_bo_cnr_it.crt
docker/certs/ssl-cert-snakeoil.pem
docker/certs/production/DigiCertCA.crt
docker/spid-test-idp/conf/idp.crt
docker/spid-test-idp/conf/idp.key
docker/spid-test-idp/conf/idpSSL.crt
docker/spid-test-idp/conf/idpSSL.key
