/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/docker/certs/*
/docker/data/*
/docker/spid-test-idp/conf/idp.crt
/docker/spid-test-idp/conf/idp.key
/docker/spid-test-idp/conf/idpSSL.crt
/docker/spid-test-idp/conf/idpSSL.key
.vscode/settings.json
/composer.lock
docker/shibboleth/etc/idem-test-metadata-sha256.*
.env
