/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/docker/certs/*
/docker/data/db-data/
/docker/spid-test-idp/conf/idp.crt
/docker/spid-test-idp/conf/idp.key
/docker/spid-test-idp/conf/idpSSL.crt
/docker/spid-test-idp/conf/idpSSL.key
/frontend/.no_git
/frontend/v8-compile-cache-0/*
/database/migrations/TEMP
.env

/front_tests

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.vscode/settings.json
/composer.lock
docker/shibboleth/etc/idem-test-metadata-sha256.*
frontend/package-lock.json
