@import '../../scss/variables';

.pagination {
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    
    button {
        margin: 0 15px 0 0;
        &.step-backward, &.backward {
            margin: 0 0 0 15px;
        }
        &:last-child {
            margin-right: 0
        }
    }

    .perPageDropdown {
        display:inline;
        button {
            color: $orange;
        }
        .dropdown-menu {
            max-height: 100px;
            overflow-y: scroll;
            top: -15px !important;
        }
        
    }

}