.pagination {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    button {
        margin: 0 15px 0 0;
        &.step-backward, &.backward {
            margin: 0 0 0 15px;
        }
        &:last-child {
            margin-right: 0
        }
    }
}