@import '../../scss/variables';

footer.app-footer {
    background: $dark-bk;
    padding: 1rem 0 1.5rem;
    a {
        font-size: 0.857rem;
    }
    .top {
        width: 100%;
        a {
            color: $dark-text;
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
        margin-bottom: 1.6rem;
    }
    .lang-change {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid white;        
    }
    .footer-menu {
        padding-top: 0.5rem;
    }

    .footer-logos {        
        height:50px;
    }

    .bottom {
        > * {
            &:not(:last-child) {
                margin-right: 2rem;
            } 
        }
        p {
            margin: 0;
        }
    }
    .copyright {
        font-size: 11px;
    }
}