@import '../../../scss/variables';

.edit-icons {
    display: table;
    height: 100%;
    a {
        display: table-cell;
        vertical-align: middle;
        i:before {
            font-size: 1.5rem;
        }
    }
}