@import '../../../scss/vendors/variables';

.card-form {
    margin: 2rem 0;
}

.form-control {
    border-radius: 0;
}

fieldset {
    width: 100%;
}

.form-custom-select {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 0;
}

.form-groups {
    .form-group {
        padding: 3rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid $grey;
        }
    }
}