@import '../../../scss/vendors/variables';

.card-form {
   .btn {margin: 0}
} 

.form-control {
    border-radius: 0;
}

fieldset {
    width: 100%;
}

.form-custom-select {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 0;
}

.form-groups {
    .form-group {
        padding: 3rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid $dark-text;
        }
    }
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 10px solid #d1d1d1; /* Light grey */
    border-top: 10px solid #3498db; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }