
.patronrequest {
    display: block;    

    & .patronrequest_id {
        font-weight: bold;        
    }

    & .patron {
    display: block;        
    }
}

.user_cancel_date {
    margin-top:5px;
    display: block;
    color:red;
}

.patron_data {
    & span {
        display: block;
    }
}