
.patronrequest {
    display: block;   
    
    & .patronrequest_id {
        font-weight: bold;        
    }

    & .patron {
        display: block;  
        font-size: 0.85em;      
        }
        
        & .daysago {
            margin-top:5px;
            display: block;
            font-size: 0.85em;
    }
    
}

.patron_data {
    & span {
        display: block;
    }
}