.BorrowingChooseLender .librarylist {
    margin:10px;

    li {
        margin-bottom:20px;                

        & .alllibraries {
            font-weight: bold;            
        }
    }
    
}

.sendTolenderButtons {    
    margin: 20px 0 0 0;    
}

.copyrightstatement {
    font-style: italic;
    font-size: 0.8em;

    & ul {        
        li {
            list-style: inside;
        }
    }
}
