@import '../../scss/vendors/variables';

.btn-plus, .btn-back, .btn-close {
    display: block;
    padding: 0.45rem;
    background: none;
    border: none;
    color: $active;
    margin: 0;
    &:active, &:focus {
        border: none;
        box-shadow: 0 0 0;
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
    }
    > * {
        display: table-cell;
        vertical-align: middle;
    }
    i {
        &:before {
            font-size: 1.5rem;
            padding-right: 8px;
        }
    }
    &:hover {
       // background-color: $active;
        /* span, i:before {
            color: white;
        } */
        text-decoration: none;
    }
}

.btn-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: auto;
    opacity: 0.6;
    z-index: 1200;
    &:hover {
        opacity: 1;
    }
    i:before{
        padding: 0;
        font-size: 1.5rem;
    }
}

.btn-close {
    position: absolute;
    top: 2px;
    right: 6px;
    z-index: 500;
    height: auto;
    padding: 0.1rem;
    i {
        &:before {
            font-size: 1rem;
            padding-right: 0;
        }
    }
}

.modal-content {
    .btn-back {
        display: none;
    }
}