@import '../../scss/vendors/variables';

.btn-plus, .btn-back, .btn-close {
    display: block;
    padding: 0.45rem;
    background: none;
    border: none;
    &:active, &:focus {
        border: none;
        box-shadow: 0 0 0;
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
    }
    > * {
        display: table-cell;
        vertical-align: middle;
    }
    i {
        &:before {
            font-size: 1.5rem;
            padding-right: 8px;
        }
    }
    &:hover {
        background-color: $orange;
        span, i:before {
            color: white;
        }
        text-decoration: none;
    }
}

.btn-close {
    position: absolute;
    top: 2px;
    right: 6px;
    z-index: 500;
    height: auto;
    padding: 0.1rem;
    i {
        &:before {
            font-size: 1rem;
            padding-right: 0;
        }
    }
}

.modal-content {
    .btn-back {
        display: none;
    }
}