@import '../../scss/vendors/variables';
.app-subheader {
    overflow-y: auto;
    .subheader-menu {
        flex-wrap: nowrap;
        padding: 0.5rem 0;
        div:not(.current-page){
            a:hover {
                color: $active;
                text-decoration: none;
            }
        }
        .current-page {
            a {
                text-decoration: none;
                color: $active;
            }
            
        }
    }
}