@import '../../../scss/variables';

.patronrequest_data {
    font-size: 0.85em;

    /*& >span:first-child,
    .libraryLabel >span:first-child,
    .deliveryLabel>span:first-child,
    .requestDate >span:first-child,
    .deliveryReadyDate >span:first-child,
    .fullfillDate >span:first-child       
    {
        color: #B48372;
        padding-right: 5px;
    } */
    
}

.deliveryFormat {
    display: inline;
    margin-left: 5px;
}

.request_id {    
    display: block;          
    span {
        font-weight: bold;
    }
}

.deliveryLabel {
    
}

.requestDate,
.deliveryReadyDate
{
    margin-left:5px;
}

.libraryLabel {
    .fa-info-circle {
        cursor: pointer;
    }
}

.status-text,
.status-date {
    /*display: inline-block;
    vertical-align: top;*/
}

.status-icon{
    height: 15px;
    width: 15px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    border:1px solid;
    border-color: #B48372;   
    margin: 0 2px 0 0;
    &.requested
    {
        background-color: transparent;    
    }

    &.readyToDelivery,   
    &.received    
    {
        background-color: green;
    }

    &.readyToDelivery
    {
        background-color: lightgreen; 
    }

    
    &.notReceived,
    &.canceled {
        background-color: red;
    }
           
    &.costAccepted,
    &.costNotAccepted{
        background-color: #FBB133;
    }

    &.waitingForCost
    {
        background-color: yellow;
    }    
}


.forlibrary_note,
.fromlibrary_note,
.notfulfillreason {
    display: inline;
    margin-left: 5px;
}

.costpolicy {
    font-size: 0.85em;
    display: block;
}
