@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 10px solid #d1d1d1; /* Light grey */
    border-top: 10px solid #3498db; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }