@import '../../../scss/variables';

.list-head{
    margin: 10px 0 10px 0;
    background-color: $grey-lighter;
}

.select-counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}