@import '../../../scss/variables';

.features-icons span {
        font-size:1.5em;
        color: $orange;
}

.list-head{
    margin: 10px 0 10px 0;
    background-color: $grey-lighter;
}

.select-counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.activeFilters
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    margin: 10px 0 0 0;

    .filtersList {
        list-style: none;
        list-style-type: none;
        padding:0;
        margin:0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
        .labelFilter
        {
            padding:5px;
            border-radius: 5px;
            background-color: $labels-color;
            margin-right:5px;

            i.fa {
                cursor: pointer;
            }
        }
    
        .groupFilter
        {
            padding:5px;
            border-radius: 5px;
            background-color: $groups-color;
            margin-right:5px;

            i.fa {
                cursor: pointer;
            }
        }
    }
}

