@import '../../scss/vendors/variables';
@import '../../scss/variables';

.notification.navbar-nav {
    .fa-bell {
        font-size: 1.5rem;
        position: relative;
        span {
            font-size: 0.8rem;
            font-family: $font-family-base;
            position: absolute;
            top: -5px;
            right: -11px;
            background: $line;
            border-radius: 18px;
            width: 18px;
            height: 18px;
            line-height: 18px;
            color: white;
        }
    }
    .item {
        width: 100%;
        cursor: pointer;
        max-width: inherit;
        > * {
            vertical-align: middle;
            display: table-cell;
        }
        > span {
            width: 80%;
        }
        .fa-close {
            position: absolute;
            right: 0;
            top: 17px
        }
        .fa-close:before {
            float: right;
        }
    }
    .items-menu {
        max-height: 300px;
        width: 350px;
        top: 12px !important;
        > div:not(.dropdown-header) {
            height: 50px;
            line-height: 0;
            margin-left: 0;
        }
        .dropdown-header {
            display: table;
            width: 100%;
            > div {
                display: table-cell;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
    }
    .app.loader{
        min-height: auto;
        margin-top: -30px;
    }
    .dropdown-header {
        a {
            font-size: 12px;
        }
    }
}

@include media-breakpoint-down(md) { 
  /*   .notification.navbar-nav {
        .items-menu {
            top: 15px !important;
        }
    } */
}

@include media-breakpoint-down(xs) { 
    .notification.navbar-nav {
        .fa-bell {
            font-size: 1.3rem;
        }
    }
}