@import '../../../scss/vendors/variables';

.filter-select {
    
    > button {
        background: none;
        border: none;
        max-width: 100%;
        width: 100%;
        font-size: 1rem;
    }
    &.labels {
        background-color: $labels-color;
        border: 1px solid $labels-border;
        border-radius: 4px;
        &.show {
            border-bottom-color: transparent;
            border-radius:  4px 4px 0 0;
        }
        input[type=text] {
            border: 1px solid $labels-border;
            border-radius: 4px;
            height: 30px;
            width: 100%;
        }
        .dropdown-menu { 
            border: none;
            border: 1px solid $labels-border;
            &.show {
                border-top: none;
                border-radius: 0 0 4px 4px;
            }
        }
    }
    .dropdown-header {
        background: none;
        border-radius: 0;
        border: none;
        position: relative;
        i.fa-search {
            position: absolute;
            /* display: table-cell; */
            height: 100%;
            width: 20px;
            right: 22px;
            font-size: 1.2rem;
            top: 14px;
            vertical-align: middle;
        }
        
    }
    .dropdown-menu {
        width: 100.2%;
        left: -0.1% !important;
        top: -2px;
        .filter-item {
            display: flex;
            align-items: center;
            padding-left: 15px;
            margin: 15px 0;
            label {
                margin: 0;
            }
        }
    }
}