@import '../../../scss/vendors/variables';

.filter-select {
    border: 1px solid black;
    border-radius: 4px;
    
    > button {
        background: none;
        border: none;
        max-width: 100%;
        width: 100%;
        font-size: 1rem;
    }

    &.show {
        border-bottom-color: transparent;
        border-radius:  4px 4px 0 0;
    }
    input[type=text] {
        border: 1px solid black;
        border-radius: 4px;
        height: 30px;
        width: 100%;
    }
    .dropdown-menu { 
        border: none;
        border: 1px solid black;
        &.show {
            border-top: none;
            border-radius: 0 0 4px 4px;
        }
    }

    &.labels {
        background-color: $labels-color;
        border-color: $labels-border;
        > button:hover {
            background-color: $labels-color;
        }
        input[type=text] {
            border-color: $labels-border;
        }
        .dropdown-menu { 
            border-color:  $labels-border;
        }
    }

    &.groups {
        background-color: $groups-color;
        border-color: $groups-border;
        > button:hover {
            background-color: $groups-color;
        }
        input[type=text] {
            border-color: $groups-border;
        }
        .dropdown-menu { 
            border-color:  $groups-border;
        }
    }
    
    .dropdown-header {
        background: none;
        border-radius: 0;
        border: none;
        position: relative;
        i.fa-search {
            position: absolute;
            /* display: table-cell; */
            height: 100%;
            width: 20px;
            right: 22px;
            font-size: 1.2rem;
            top: 14px;
            vertical-align: middle;
        }
        
    }
    .dropdown-menu {
        width: 100.2%;
        left: -0.1% !important;
        top: -2px;
        .filter-item {
            display: flex;
            align-items: center;
            padding-left: 15px;
            margin: 15px 0;
            label {
                margin: 0;
            }
        }
    }
}