@import '../../../scss/vendors/variables';

.filter-select {
    border: 1px solid black;
    border-radius: 4px;
   // max-width: 160px;
    height: $heightInput;
    > button {
        background: none;
        border: none;
        max-width: 100%;
        width: 100%;
        font-size: 1rem;
        height: auto;
        &:hover, &:focus, &:active {
            background-color: transparent;
        }
        span {
            font-size: $font-size-normal;
            color: $dark-text;
        }
    }

    &.show {
        border-bottom-color: transparent;
        border-radius:  4px 4px 0 0;
    }
    input[type=text] {
        border: 1px solid black;
        border-radius: 4px;
        height: $heightInput;
        width: 100%;
    }
    .dropdown-menu { 
        border: none;
        border: 1px solid black;
        &.show {
            border-top: none;
            border-radius: 0 0 4px 4px;
        }
    }
    
    &.labels {
        background-color: $labels-color;
        border-color: $labels-border;
        &:hover {
            background-color: $labels-color;
        }
        input[type=text] {
            border-color: $labels-border;
        }
        .dropdown-menu { 
            border-color:  $labels-border;
            background-color: $labels-color;
        }
    }

    &.groups {
        background-color: $groups-color;
        border-color: $groups-border;
        &:hover {
            background-color: $groups-color;
        } 
        input[type=text] {
            border-color: $groups-border;
        }
        .dropdown-menu { 
            border-color:  $groups-border;
            background-color: $groups-color;
        }
    }
    
    .dropdown-header {
        background: none;
        border-radius: 0;
        border: none;
        position: relative;
        padding: 5px 0;
        i.fa-search {
            position: absolute;
            /* display: table-cell; */
            height: 100%;
            width: 20px;
            right: 22px;
            font-size: 1.2rem;
            top: 14px;
            vertical-align: middle;
        }
        
    }
    .dropdown-menu {
        width: calc(100% + 2px);
        left: -1px !important;
        top: -3px !important;
        padding: 0 15px;
        /* @include media-breakpoint-down(sm) { 
            left: 1px !important;
        } */
        
        .filter-item {
            display: flex;
            align-items: center;
            margin: 15px 0;
            label {
                margin: 0 0 0 5px;
            }
        }
    }
}