@import '../../../scss/variables';

.users-permissions-list {
    max-height: 500px;
    overflow-y: auto;
    .tbody {
        padding: 0 1rem;
        > .row {
            background: $box-color;
            border-top: 1px solid $dark-bk;
            border-bottom: 1px solid $dark-bk
        }
    }
    .row {
        align-items: center;
        &:not(:first-child){
            margin-top: 2rem;
        }
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        
    }
    
}