// Here you can add other styles
html,body {
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 16px;
    color: $grey;
    
}

p, label {
    line-height: 1.5em;
    color: $grey;
}

ul {
    li {
        list-style: none;
    }
}

a {
    color: $grey;
    &:hover {
        text-decoration: underline;
        color: $grey;
    }
}


.btn {
    border-radius: 0;
    height: 45px;
    max-width: 350px;
    margin: 0 auto;
}

button {
    &:focus {
        outline: none;
    }
}

.btn-brown:not(:disabled):not(.disabled).active {
    &:hover {
        background-color:rgb(200, 130, 133);
    }
}

.btn-link {
    background: none;
    border: none;
    color: $grey-nav-link;
    &:hover {
        color: $grey-nav-link-hover;
        background: none;
        border: none;
    }
    &.disabled, &:disabled {
        color: $grey-nav-link;
        opacity: 0.5;
    }
}

#app {
    background-color: $light;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.app {
    min-height: inherit;
}

.app-body {
    flex: 1;
    min-height: 100vh;
    .main {
        margin-bottom: 4rem;
        /* padding-top: 2rem; */
        > .container {
            margin-top: 4rem;
        }
    }
}

.fullWidth {
    width: 100%;
}

.linkButton {
    &:hover {
        text-decoration: none;
    }
}

.grecaptcha-badge {
    display: none !important;
}

.invalid-feedback {
    text-align: left !important;
}

form {
    &.was-validated {
        .form-check-input[aria-checked=false] ~ .switch-slider {
            border: 1px solid $danger;
            &:before {
                border: 1px solid $danger;
            }
        }
    }
}


ul.list-inline {
    li {
        display: inline-block;
        margin-right: 20px;
    }
}

.card {
    border-radius: 0;
}


.table {
    .row {
        margin: 0;
        width: 100%;
        div[class*=col-]{
            padding: 0 .65rem;
            &:not(:first-child) {
                text-align: center;
            }
            &:not(:last-child) {
                border-right: 2px solid $grey-lighter;
            }
            &:not(.edit-icons) i {
                cursor: pointer;
            }
        }
    }
    .thead {
        margin-bottom: 1.5rem;
        div[class*=col-]{
            background-color: $grey-light;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .tbody {
        .row {
            margin-bottom: 1.5rem;
            height: 75px;
            align-items: center;
            div[class*=col-]{ 
                padding: 1rem;
                background-color: $white;
                border-color: $grey-lighter;
                border-width: 2px 2px 2px 0;
                border-style: solid;
                height: 100%;
                &:first-child {
                    border-left: $grey-lighter 2px solid;
                    > * {
                        padding-left: .65rem;
                    }
                }
                &:not(.edit-icons) > * {
                    position: absolute;
                    top: 50%;
                    margin: 0 auto;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .edit-icons {
        height: 100%;
        a.btn {
            display: table-cell;
            vertical-align: middle;
            height: auto;
            i:before {
                font-size: 1.5rem;
            }
        }
    }
}

.status-point {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    &.disabled{
        background-color: red;
    }
    &.pending{
        background-color: gold;
    }
    &.success{
        background-color: green;
    }
    margin: 0 auto;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $brown;
    background-color: $brown;
}

.option-list > [class*=control] {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #e4e7ea;
    color: #5c6873;
    font-size: .875rem;
}

/* .switch-success .switch-input:checked+.switch-slider {
    background-color: $orange;
    border-color: $orange;
    &:before {
        border-color: $orange;
    }
} */