// Here you can add other styles
html,body {
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 16px;
    color: $grey;
}

p, label {
    line-height: 1.5em;
    color: $grey;
}

ul {
    li {
        list-style: none;
    }
}

a {
    color: $grey;
    &:hover {
        text-decoration: underline;
        color: $grey;
    }
}


.btn {
    border-radius: 0;
    height: 45px;
    max-width: 350px;
    margin: 0 auto;
}

button {
    &:focus {
        outline: none;
    }
}

.btn-brown:not(:disabled):not(.disabled).active {
    &:hover {
        background-color:rgb(200, 130, 133);
    }
}

.btn-link {
    background: none;
    border: none;
    color: $grey-nav-link;
    &:hover {
        color: $grey-nav-link-hover;
        background: none;
        border: none;
    }
    &.disabled, &:disabled {
        color: $grey-nav-link;
        opacity: 0.5;
    }
}

#app {
    background-color: $light;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}



.app-body {
    flex: 1;
    .main {
        margin-bottom: 4rem;
    }
}

.fullWidth {
    width: 100%;
}

.linkButton {
    &:hover {
        text-decoration: none;
    }
}

.grecaptcha-badge {
    display: none !important;
}

.invalid-feedback {
    text-align: left !important;
}

form {
    &.was-validated {
        .form-check-input[aria-checked=false] ~ .switch-slider {
            border: 1px solid $danger;
            &:before {
                border: 1px solid $danger;
            }
        }
    }
}


ul.list-inline {
    li {
        display: inline-block;
        margin-right: 20px;
    }
}

.card {
    border-radius: 0
}

/// TABLE LIST ///

.table-title {
    margin-top: 6rem;
}

.table {
    .row {
        margin: 0;
        width: 100%;
        div[class*=col-]{
            padding: 0 .65rem;
            &:not(:first-child) {
                text-align: center;
            }
            &:not(:last-child) {
                border-right: 2px solid $grey-lighter;
            }
            &:not(.edit-icons) i {
                /* float: right;
                line-height: 18px; */
                cursor: pointer;
            }
        }
    }
    .thead {
        margin-bottom: 1.5rem;
        div[class*=col-]{
            background-color: $grey-light;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .tbody {
        .row {
            margin-bottom: 1.5rem;
            border: 1px solid $grey-lighter;
            height: 75px;
            div[class*=col-]{ 
                padding: 1rem;
                background-color: $white;
                &:first-child {
                    > * {
                        padding-left: .65rem;
                    }
                }
                &:not(.edit-icons) > * {
                    position: absolute;
                    top: 50%;
                    margin: 0 auto;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}
