// Here you can add other styles
html,body {
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 14px;
    color: $dark-text;
    
}

p, label {
    line-height: 1.5em;
    color: $dark-text;
}

ul {
    li {
        list-style: none;
    }
}

a {
    color: $dark-text;
    &:hover {
        text-decoration: underline;
        color: $dark-text;
    }
}

/* h3.title-section {
    font-size: 2.642rem;
    text-align: center;
    font-weight: 700;
} */

.btn {
    border-radius: 0;
    height: 45px;
    max-width: 250px;
    margin: 0 auto;
    /* background-color: transparent; */
    border: none;
    /* color: $dark-text; */
    &:focus {
        outline: none;
        box-shadow: 0 0 0;
    }
   /* &:hover {
        background-color: transparent;
        color: inherit;
    }
     &.disabled, &:disabled {
        color: $grey-nav-link;
        opacity: 0.5;
        background-color: transparent;
        border: none;
    } */
}

.btn-facebook {
    background-color: $facebook;
}

.btn-google-plus {
    background-color: $google-plus;
}

.btn [class^="icon-"] {
    margin-top: 0;
}

button[type=button] {
    outline: none;
}


.btn-icon {
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    /* vertical-align: sub; */
    &:hover,&:active, &:focus {
        text-decoration: none;
    }
    &.active, &:active {
        background: $dark-bk;
    }
    i, span {
        color: $active;
        font-size: 1.5rem;
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
        /* display: table-cell;
        vertical-align: middle; */
    }
}

.btn-download-icon {
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0;
    display: inline-block;
    cursor: pointer;

    &:hover,&:active, &:focus {
        text-decoration: none;
    }
    &.active, &:active {
        
    }
    i, span {
        margin-top: 0;
        display: inline-block;              
    }

}

.btn-brown:not(:disabled):not(.disabled).active {
    &:hover {
        background-color:rgb(200, 130, 133);
    }
}

.btn-link {
    background: none;
    border: none;
    color: $form-text;
    &:hover {
        color: $dark-text;
        background: none;
        border: none;
    }
}

.btn-active {
    color: $active;
    &:hover {
        color: $active;
    }
}

.btn-clear,
.btn-cancel {
    display: block;
    color:#fff;
    padding: 8px 30px;
    font-weight:normal;
    font-size: 1.428rem;
    text-shadow: none;
    text-align: center;
    text-decoration:none;
    background: $dark-text;
    border-radius: 4px; //da usare in tutti i form select ecc.
    &:hover{
        background: $form-text; 
        color:#fff;
        text-decoration: none
    }
}

.btn-cta {
    display: block;
    color:#fff;
    padding: 8px 30px;
    font-weight:normal;
    font-size: 1.428rem;
    text-shadow: none;
    text-align: center;
    text-decoration:none;
    background: $active;
    border-radius: 4px; //da usare in tutti i form select ecc.
    &:hover{
        background: $dark-text; 
        color:#fff;
        text-decoration: none
    }
}



#app {
    background-color: $light-bk;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.app {
    min-height: inherit;
}

.app-body {
    flex: 1;
    min-height: 100vh; 
    .main {
        // margin-bottom: 4rem;
        /* padding-top: 2rem; */
        > .container {
            margin-top: 8rem;
            margin-bottom: 8rem;
            > .row > div[class*=col-] {
                padding-top: 3.571rem;
            }
        }
        &.login-main {
            > .container {
                margin-top: 1rem;
               
            }
        }
    }
}

.fullWidth {
    width: 100%;
}

.rounded {
    border-radius: 4px !important;
}


.grecaptcha-badge {
    display: none !important;
}

.invalid-feedback {
    text-align: left !important;
}

form {
    &.was-validated {
        .form-check-input[aria-checked=false] ~ .switch-slider {
            border: 1px solid $danger;
            &:before {
                border: 1px solid $danger;
            }
        }
        .option-list {
            &.danger {
                border: 1px solid #f86c6b;
            }
            border: 1px solid #4dbd74;
        }
        select.form-control:invalid, select.form-control.is-invalid,
        select.form-control:valid, select.form-control.is-valid {
            background-position: right calc(1.375em + .1875rem) center;
        }
    }
    label {
        color: $alternative-text;
    }
    h3 {
        font-weight: normal;
        text-align: center;
    }
    .card {
        margin-bottom: 3rem;

    }
    button[type=submit].btn-cta {
        display: table;
        margin: 5rem auto 0 auto;
    }
    /* .form-group:last-child {
        margin: 0;
    } */
}

input[type=text], input[type=email], input[type=password], textarea {
    padding: 9px;
    color: $form-text;
    font-size: $font-size-normal;
    border-radius: 4px;
    height: $heightInput;
    border: 1px solid $dark-bk;
}


textarea {
    height: 86px;
    display:block;
    resize: none; 
}



.active {
    color: $active;
    &:hover {
        color: $active;
    }
}

ul.list-inline {
    li {
        display: inline-block;
        margin-right: 20px;
    }
}

.card {
    border-radius: 4px;
    border-color: $dark-bk;
    background-color: $box-color;
    /*padding: 1.5rem 6.785rem;*/
    padding: 1rem 1rem;    
}

// Detail Teaser / Blok
.detail {
    .list-head {
        justify-content: flex-start;
        margin-top: 0;
    }
    .card-body {
        padding: 6.7rem;
    }
    p {
        margin: 0;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    .row {
        margin: 2rem 0;
    }
}

/* .table {
    .row {
        margin: 0;
        width: 100%;
        div[class*=col-]{
            padding: 0 .65rem;
            &:not(:first-child) {
                text-align: center;
            }
            &:not(:last-child) {
                border-right: 2px solid $box-color;
            }
            &:not(.edit-icons) i {
                cursor: pointer;
            }
        }
    }
    .thead {
        margin-bottom: 1.5rem;
        div[class*=col-]{
            background-color: $dark-bk;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .tbody {
        .row {
            margin-bottom: 1.5rem;
            height: 75px;
            align-items: center;
            div[class*=col-]{ 
                padding: 1rem;
                background-color: $white;
                border-color: $box-color;
                border-width: 2px 2px 2px 0;
                border-style: solid;
                height: 100%;
                &:first-child {
                    border-left: $box-color 2px solid;
                    > * {
                        padding-left: .65rem;
                    }
                }
                &:not(.edit-icons) > * {
                    position: absolute;
                    top: 50%;
                    margin: 0 auto;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .edit-icons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a.btn {
            display: table;
            padding: 0;
            &:hover {
                text-decoration: none;
            }
            i {
                display: table-cell;
                vertical-align: middle;
            }
            i:before {
                font-size: 1.5rem;
            }
        }
    }
} */

// LIST
.list-row {
    padding: 1.857rem 0;
    border-bottom: 1px solid $dark-bk;
    margin: 0;
    > * {
        padding-left: 0;
        padding-right: 0;
    }


    .select-checkbox {
        i {
            font-size: 1.5rem;
            padding-left: 18px;
        }
    }
    p {
        font-size: 1rem;
    }
    &:last-child {
        border: none;
    }
   /*  .icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    } */
}

.list-head{
    margin: 3.2rem 0 0.71rem 0;
    padding: 0 15px;
    background-color: $tools-menu;
    justify-content: space-between;
}

.list-body {
    padding: 0 15px;
}


.status-point {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    &.disabled{
        background-color: red;
    }
    &.pending{
        background-color: gold;
    }
    &.success{
        background-color: green;
    }
    margin: 0 auto;
}

.preferred-star {
    font-size: 1.5em;
    &.preferred{ 
        color:orange
    }
    &.notpreferred{ 
        color:lightgray;
    }
}

.tooltip-inner {
    font-size: 0.875rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $line;
    background-color: $line;
}


.option-list {
    > [class*=control] {
        background-color: transparent;
        border-radius: 0;
        border: 1px solid #e4e7ea;
        color: #5c6873;
        font-size: .875rem;
        [class*=-singleValue] {
            color: #5c6873;
        }
    }
}

/*.icon-img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 150px;
    color: $active;
}*/

// DROPDOWN Generico

.dropdown {
    .dropdown-menu {
        box-shadow: 0 3px 6px #00000029;
        -webkit-box-shadow: 0 3px 6px #00000029;
        -moz-box-shadow: 0 3px 6px #00000029;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0;
        border: none;
        min-width: auto;
    }
    &.show {
        > .btn-icon {
            background: $dark-bk;
        }
    }
    .dropdown-header {
        .btn {
            margin: 0;
        }
    }
}

.tags-list {
    input[name=tag-add] {
        width: 80%;
    }
    
    .info {
        height: 40px;
        display: table;
        h4 {
            display: table-cell;
            vertical-align: middle;
        }
    }
    
    .dropdown {
        > .btn {
           display: table;
        }
    }
    .dropdown-menu {
        width: 250px;
    }
    .dropdown-header {
        font-size: inherit;
    }
  
}


.features-icons
 {
    height: 40px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    .btn-icon {
        display: table;
        i, span {
            display: table-cell;
        }
    }
    
    .dropdown {
        p, label {
            font-size: 1rem;
        }
        
        .dropdown-menu {
            padding: 15px;
            background: $dark-bk;
            border: 1px solid $line;
            width: 178px;
        }
        .dropdown-header {
            background: none;
            padding: 0;
            border: none;
            position: relative;
            input {
                height: 30px;
                border-radius: 5px;
                border-color: transparent;
                padding: 9px 22px 9px 9px;
                width: 100%;
            }
            i {
                position: absolute;
                right: 5px;
                bottom: 7px;
                font-size: 16px;
                color: $dark-text;
            }
        }
    }
   
}



// MODALE di CONFERMA

.modal-dialog {
    .modal-content {
        border: 4px;
        background-color: $box-color;
    }
    
    .modal-header {
        position: static;
        margin: 10px 0 0 0;
        .close {
            margin-top: -2rem;
        }
    }
    
    .modal-title {
        text-align: center;
        width: 100%;
        font-size: 1.6rem;
    }
    
    .modal-footer {
        .btn {
            color:#fff;
            padding: 10px 30px;
            font-weight:normal;
            font-size: 1.428rem;
            text-shadow: none;
            text-decoration:none;
            background: $form-text;
            border-radius: 4px; //da usare in tutti i form select ecc.
            &:hover{
                text-decoration: none
            }
            &.btn-primary {
                background: $active;
                &:hover{
                    background: $dark-text; 
                    color:#fff;
                }
            }
        }
    }
}



//classe da usare per icone da visualizzare senza link
.simple_icon
{
    color: $alternative-text;
}
/* .switch-success .switch-input:checked+.switch-slider {
    background-color: $active;
    border-color: $active;
    &:before {
        border-color: $active;
    }
} */