@import './variables';

.modal-content {
    border: 4px;
    background-color: $box-color;
}

.modal-header {
    position: static;
    margin: 10px 0 0 0;
    .close {
        margin-top: -2rem;
    }
}

.modal-title {
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
}

.modal-footer {
    .btn {
        color:#fff;
        padding: 10px 30px;
        font-weight:normal;
        font-size: 1.428rem;
        text-shadow: none;
        text-decoration:none;
        background: $form-text;
        border-radius: 4px; //da usare in tutti i form select ecc.
        &:hover{
            text-decoration: none
        }
        &.btn-primary {
            background: $active;
            &:hover{
                background: $dark-text; 
                color:#fff;
            }
        }
    }
}