@include media-breakpoint-down(lg) {
    .app-body {
        margin-top: 90px;
    }
    .app-header { 
        z-index: 1030;
        position: fixed;
        width: 100%;
    }
    .app-subheader {
        overflow-y: auto;
        position: fixed;
        width: 100%;
        z-index: 1020;
        margin-top: 55px;
    }
}

@include media-breakpoint-down(md) {
    .app-subheader {
        margin-top: 55px;
    }
    /* .table-title {
        margin: 2rem 0 1rem
    } */
    .sidebar {
        nav {
            padding-top: 1rem;
        }
    }
    .main .login-form .card {
        padding: 0
    }
    
    
}

@include media-breakpoint-down(sm) { 
    .app-body {
        .main {
            > .container {
                margin-top: 1.428rem;
                > .row > div[class*=col-] {
                    padding-top: 0;
                }
            }
        }
    }
    .section-title {
        h1.large {
            font-size: 1.2857rem;
        }
        position: static;
        margin-bottom: 1.428rem;
    }
    .container {
        max-width: 660px
    }
    .dropdown-menu { 
        max-width: calc(100vw - 40px);
        left: 25px !important;
    }
    .table {
        overflow-x: auto;
        .row {
            flex-wrap: nowrap;
            height: auto;
            div[class*=col-] {
                flex: 0 0 40%;
                max-width: none;
            }
        }
    }
    .search-filter-bar .activeFilters {
        .filtersList {
            margin-top: 0;
        }
    }
    .list-head {
        margin-top: 1rem;
    }
    
    .search-filter-bar {
        div[class*=col-] {
            margin-bottom: 1.714rem;
            &:last-child {
                text-align: center;  
                margin: 0;  
            }
        }
    }
    .card {
        padding-left: 1.5rem;
        padding-right: 2rem;
    }
   
}

@include media-breakpoint-down(xs) {
    body.sidebar-show {
        overflow-y: hidden;
    }
    .users-permissions-list {
        .custom-control {
            padding-left: 2.5rem
        }
    }
    .list-body {
        .info {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    .w-50 {
        width: 100% !important;
    }
}