@include media-breakpoint-down(lg) {
    .app-body {
        margin-top: 95px;
    }
    .app-header { 
        z-index: 1030;
        position: fixed;
        width: 100%;
    }
    .app-subheader {
        overflow-y: auto;
        position: fixed;
        width: 100%;
        z-index: 1020;
        margin-top: 55px;
    }
}

@include media-breakpoint-down(md) {
    .app-subheader {
        margin-top: 55px;
    }
    /* .table-title {
        margin: 2rem 0 1rem
    } */
    .sidebar {
        nav {
            padding-top: 1rem;
        }
    }
    .main .login-form .card {
        padding: 0
    }
  
}

@include media-breakpoint-down(sm) { 
    .container {
        max-width: 660px
    }
    .navbar-brand {
        > img {
          // right: 0;
          //  margin: 0 auto
        }
    }
    .dropdown-menu { 
        max-width: calc(100vw - 40px);
        left: 25px !important;
    }
    .table {
        overflow-x: auto;
        .row {
            flex-wrap: nowrap;
            height: auto;
            div[class*=col-] {
                flex: 0 0 40%;
                max-width: none;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    body.sidebar-show {
        overflow-y: hidden;
    }
    .users-permissions-list {
        .custom-control {
            padding-left: 2.5rem
        }
    }
}