@font-face {
  font-family: 'talaria';
  src:  url('../fonts/talaria.eot?d0p9qk');
  src:  url('../fonts/talaria.eot?d0p9qk#iefix') format('embedded-opentype'),
    url('../fonts/talaria.ttf?d0p9qk') format('truetype'),
    url('../fonts/talaria.woff?d0p9qk') format('woff'),
    url('../fonts/talaria.svg?d0p9qk#talaria') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
  
[ class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'talaria' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.icon-oa:before {
  content: "\6f";
}
.icon-tag-plus:before {
  content: "\74";
}
.icon-diploma:before {
  content: "\64";
}
.icon-riferimenti:before {
  content: "\72";
}
.icon-consorzio:before {
  content: "\63";
}