// Variable overrides
// Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,700&display=swap');

$font-family-base: 'Archivo', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;


//New colors

$main-menu: #FFFFFF;

$light-bk: #F8F8F8;

$dark-bk: #EBE2DF;

$tools-menu: #F1F1F1;

$box-color: #F5F5F5;
$box-border: #EBE3DD;

$dark-text: #3b3d40;
$alternative-text: #AB725F;
$form-text: #6C717A;

$line: #AB725F;

$active: #DF6D43;

/* $labels-color: #DAD0EE;
$labels-border: #8A4991; */

/* $groups-color: #C9E3F8;
$groups-border: #5892BF; */

$consegnato: #50C950;
$cancellato: #FF6565;
$attesa:#FBAE2B;



// Typography
$font-size-normal: 1rem;
$font-size-large: 2.642rem;
.large		{ font-size: $font-size-large; line-height: 1.3; }
.big 			{ font-size: 20px; line-height: 1.3; }
.normal		{ font-size: $font-size-normal; line-height: 1.3; }
.small    { font-size: 12px; line-height: 1.3; }

// Size
$heightInput: 32px;

//Button

.button{
  display: inline-block;
  color:#fff;
  padding: 15px 30px;
  font-weight:normal;
  text-shadow: none;
  text-decoration:none;
  background: $active;
  border-radius: 4px; //da usare in tutti i form select ecc.
  &:hover{
    background: $dark-text; 
    color:#fff;
    text-decoration: none;}
}

/*----------------*/

// COLORS
$theme_color: #DF6D43;
$white: #F8F8F8;
$grey-light: #EBE2DF;
$grey-lighter: #F5F5F5;
$grey: #3B3D40;
$brown: #AB725F;

$grey-nav-link: #73818f;
$grey-nav-link-hover: #2f353a;
$orange: $theme_color;

$labels-color: #DAD0EE;
$labels-border: #8A4991;

$groups-color: #C9E3F8;
$groups-border: #73A6CC;

$theme-colors: (
  "brown": $brown,
  "grey": $grey,
  "orange": $orange,
  "grey-light": $grey-light,
  "grey-lighter": $grey-lighter,
  "active": $active,
);

$libraries_icon: '../images/libraries.svg';
$institutions_icon: '../images/institutions.svg';
$projects_icon: '../images/projects.svg';
$patron_icon: '../images/patron.svg';
@mixin libraries_icon {
  background-image: url($libraries_icon);
}
@mixin institutions_icon {
  background-image: url($institutions_icon);
}
@mixin projects_icon {
  background-image: url($projects_icon);
}
@mixin patron_icon {
  background-image: url($patron_icon);
}