// Variable overrides
// Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,700&display=swap');

$font-family-base: 'Archivo', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;


// COLORS

// $primary: #A65255;
$theme_color: #A65255;
$light: #F5F1EB;
$dark: #D6CBC3;
$white: #F5F5F5;
$grey: #444444;
$orange: #DF8969;
$brown: #A65255;
$theme-colors: (
  "brown": $brown,
  "grey": $grey,
  "orange": $orange,
);
