// Variable overrides
// Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,700&display=swap');

$font-family-base: 'Archivo', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;


// COLORS
$theme_color: #DF6D43;
$white: #F8F8F8;
$grey-light: #EBE2DF;
$grey-lighter: #F5F5F5;
$grey: #3B3D40;
$brown: #AB725F;

$grey-nav-link: #73818f;
$grey-nav-link-hover: #2f353a;
$orange: $theme_color;

$theme-colors: (
  "brown": $brown,
  "grey": $grey,
  "orange": $orange,
  "grey-light": $grey-light,
  "grey-lighter": $grey-lighter,
);

$libraries_icon: '../images/libraries.svg';
$institutions_icon: '../images/institutions.svg';
$projects_icon: '../images/projects.svg';
$patron_icon: '../images/patron.svg';
@mixin libraries_icon {
  background-image: url($libraries_icon);
}
@mixin institutions_icon {
  background-image: url($institutions_icon);
}
@mixin projects_icon {
  background-image: url($projects_icon);
}
@mixin patron_icon {
  background-image: url($patron_icon);
}