// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,700&display=swap');

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "global";

// ie fixes
@import "ie-fix";
