@import '../../../scss/variables';

.form-search {
    height: $heightInput;
    // max-width: 256px;
    .input-group {
        height: 100%;
    }
    .searchBtn {
        color: white;
        width: 40px;
        height: 100%;
        padding: 0;
        border-radius: 0 4px 4px 0;
        background-color: $active;
        i:before {
            font-size: 1.3rem;
        }
    }
}
