@import '../../../scss/variables';

.list-row {
    .info {
        span {
            padding-right: 3px;
        }

        p {
            margin: 0;
        }
        .pub_title {

        }
        .part_title {
            font-style: italic;
        }
        .authors {
            > span
            {
                font-weight: bold;
                padding-right: 10px;
                span
                {
                    font-weight: normal;
                    padding-right: 0px;
                }
            }
        } 

        .libraryLabel >span:first-child,
        .delivery >span:first-child,
        .requestDate >span:first-child,
        .fullfillDate >span:first-child
        {
            color: #B48372;
            padding-right: 5px;
        } 
        
    }
     
    .select-checkbox {
        i {
            font-size: 1.5rem;
            padding-left: 38px;
        }
    }
    p {
        font-size: 1rem;
    }

    .statusIcon{
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
            border:1px solid;
            border-color: #B48372;

            &.requested
            {
                background-color: transparent;    
            }

            &.received,
            &.fileReceived
            {
                background-color: green;
            }

            
            &.notReceived,
            &.canceled {
                background-color: red;
            }
            
            &.readyToDelivery,
            &.waitingForCost,
            &.costAccepted,
            &.costNotAccepted{
                background-color: #FBB133;
            }
    }
}

