@import '../../../scss/variables';

.list-row {
    .info {
        .libraryLabel >span:first-child,
        .delivery >span:first-child,
        .requestDate >span:first-child,
        .fullfillDate >span:first-child
        {
            color: #B48372;
            padding-right: 5px;
        } 
        
    }
}

.libraryLabel {
    .fa-info-circle {
        cursor: pointer;
    }
}

.status-text {
    display: inline-block;
    vertical-align: top;
}

.status-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    border:1px solid;
    border-color: #B48372;
    margin: 0 .5rem;
    &.requested
    {
        background-color: transparent;    
    }

    &.received,
    &.fileReceived
    {
        background-color: green;
    }

    
    &.notReceived,
    &.canceled {
        background-color: red;
    }
    
    &.readyToDelivery,
    &.waitingForCost,
    &.costAccepted,
    &.costNotAccepted{
        background-color: #FBB133;
    }
}
