@import '../../../scss/vendors/variables';

.LendingRequestData:not(:empty) {    
    

    & .shelflocation {        
    }

    & .borrowingRequestData:not(:empty),
    & .lendingData:not(:empty) {
        border-top: 1px solid $dark-bk;
        margin-top: 5px;
        padding: 5px 0 0 0;
    }


    & .requestData {
        display: block;

        & .label {
            font-weight: bold;
        }
    }


}