@import '../../../scss/vendors/variables';

.request_id {
    margin-left: 5px;
    display: inline !important;
    
    & a:hover {
            text-decoration: none;
    }    
}

.lending_notes {
    margin-left: 5px;
}


.status-date {
    display: block;
    font-size: 0.85em;
    & .status-time {
        padding-left:16px;
    }
}

.daysago {
    margin-top:5px;
    display: block;
}

.fullfilment {
    margin-top:5px;
    display: block;
}


.status-text {
    color: $alternative-text;
}

.status-icon{
    height: 15px;
    width: 15px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    border:1px solid;
    border-color: #B48372;
    margin: 0 .5rem 0 0;
    &.requestReceived
    {
        background-color: transparent;    
    }

    &.copyCompleted
    {
        background-color: green;
    }

    
    &.unFilled,
    &.canceledAccepted {
        background-color: red;
    }
    
    &.willSupply,
    &.cancelRequested{
        background-color: #FBB133;
    }    
}
