.request_id {
    margin-left: 5px;
    display: inline !important;
}

.status-date {
    display: block;
    font-size: 0.85em;
    & .status-time {
        padding-left:16px;
    }
}

.daysago {
    margin-top:5px;
    display: block;
}

.fullfilment {
    margin-top:5px;
    display: block;
}

.status-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    border:1px solid;
    border-color: #B48372;
    margin: 0 .5rem 0 0;
    &.requestReceived
    {
        background-color: transparent;    
    }

    &.copyCompleted
    {
        background-color: green;
    }

    
    &.unFilled,
    &.canceledAccepted {
        background-color: red;
    }
    
    &.willSupply,
    &.cancelRequested{
        background-color: #FBB133;
    }    
}
