.borrowingTracking {

    & .card {
        
    }

    & .itemHeader,
    & .itemData {
        display: block;
    }
        
    span span.label {
        font-weight: bold;        
        margin-left: 5px;
    }

    & .borrowingRequest {
        border-bottom: 1px dashed;
        padding: 10px 0 10px 0;

        & a.requestLink {
            &:hover {
                text-decoration: none;
            }
        }
    }

    & .trackingItem {    
    }

    & .currentReq {
        background-color: lightyellow;
    }
    
    & .patronRequest {
        margin-right: 5px;        

        & .id {
            font-weight: bold;
            font-size: 1.1em;            
        }
    }

}

ul.trackList {
    
}

ul.trackList li {
    
}