.borrowingTracking {

    & .card {
        
    }

    & .itemHeader,
    & .itemData {
        display: block;
    }
        
    span span.label {
        font-weight: bold;        
        /*margin-right: 5px;*/
    }

    & .borrowingRequest {        
        padding: 10px 0 10px 0;
                        
        & a.requestLink {
            &:hover {
                text-decoration: none;
            }
        }
    }

    & .trackingItem {   
                    
        & .patronRequest {
            margin-right: 5px;                   
        margin-right: 5px;        
            margin-right: 5px;                   

            & .itemHeader .id {
                margin-right: 5px;
            }
        }
    }

    & .trackingItem.currentReq {
        background-color: lightyellow;
    }
    

    & .patronRequest {
        border-bottom: 1px dashed;        
    }

    & .trackingItem:not(:last-child) {
        & .borrowingRequest { 
            border-bottom: 1px dashed;
        }

    }

}

ul.trackList {
    
}

ul.trackList li {
    
}