.reference-row {
    margin: 10px 0 10px 0;
    border-bottom: 1px dotted lightgray;
    .info .pub_title {

    }
    .info .part_title {
        font-style: italic;
    }
    .info .authors span
    {
        font-weight: normal;
        padding-right: 0px;
    }
    
    .info .authors > span
    {
        font-weight: bold;
        padding-right: 10px;
    }
    
    
    
    .labels span {
        color: #9D67A3;
        padding: 0 12px 0 0;
    }
    .groups span {
        color: #73A6CC;
        padding: 0 12px 0 0;
    }

    .select-checkbox {
        i {
            font-size: 1.5rem;
            padding-left: 20px;
        }
    }
    p {
        font-size: 1rem;
    }
}

