.request_id {
    margin-left: 5px;
    display: inline !important;
}

.status-date {
    display: block;
    & .status-time {
        padding-left:16px;
    }
}

.daysago {
    margin-top:5px;
    display: block;
}

.fullfilment {
    margin-top:5px;
    display: block;
}

.borrowing_request_icons {
    margin-top:15px;
}

.lendersbox {
    margin:0 10px 0 10px;
}

.status-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    border:1px solid;
    border-color: #B48372;
    margin: 0 .5rem 0 0;
    &.newrequest
    {
        background-color: transparent;    
    }

    &.readyToDelivery,   
    &.received,
    &.fulfilled,
    &.documentReady    
    {
        background-color: green;
    }

    
    &.notReceived,
    &.canceled,
    &.canceledDirect {
        background-color: red;
    }
    
    &.requested,
    &.cancelRequested{
        background-color: #FBB133;
    }    
}