@import '../../../scss/vendors/variables';

.institution_id {
    margin-left: 5px;
    display: inline !important;

    & a:hover {
        text-decoration: none;
    }
}

.institution_item {
    border-bottom: 1px solid $active;
}

.institution_operations {
    text-align: right;

    & a {
        margin-right: 5px;
     }
   
    & a:last-child {
        margin-right: 0;
    }

}

.subscriptionlink {
    margin-right: 2px;
}

.institution_type {
    display: block;
}

.institution_info {      
    font-size: 0.95em;
    


    & .contact, .referent {
        display: block;
    }

    & .contact span {
        display: inline;
        margin-right: 2px;
    }

    & .administrative_fields {
        > span {
            display: block;

            & span {
                font-weight: bold;
            }
        }

        & .invoice_header {
            font-style: italic;
        }
        
    }
    
}