@import '../../../scss/vendors/variables';

.borrowingRequestData {

    & .requestData {
        display: block;

        & .label {
            font-weight: bold;
        }
    }

    & .lendingData {
        border-top: 1px solid $dark-bk;
        margin-top: 5px;
        padding: 5px 0 0 0;
    }


}