@import '../../scss/vendors/variables';
/// TABLE LIST ///

/* .table-title {
    margin-top: 6rem;
} */

.table {
    .row {
        margin: 0;
        width: 100%;
        div[class*=col-]{
            padding: 0 .65rem;
            &:not(:first-child) {
                text-align: center;
            }
            &:not(:last-child) {
                border-right: 2px solid $grey-lighter;
            }
            &:not(.edit-icons) i {
                cursor: pointer;
            }
        }
    }
    .thead {
        margin-bottom: 1.5rem;
        div[class*=col-]{
            background-color: $grey-light;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .tbody {
        .row {
            margin-bottom: 1.5rem;
            height: 75px;
            align-items: center;
            div[class*=col-]{ 
                padding: 1rem;
                background-color: $white;
                border-color: $grey-lighter;
                border-width: 2px 2px 2px 0;
                border-style: solid;
                height: 100%;
                &:first-child {
                    border-left: $grey-lighter 2px solid;
                    > * {
                        padding-left: .65rem;
                    }
                }
                &:not(.edit-icons) > * {
                    position: absolute;
                    top: 50%;
                    margin: 0 auto;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .edit-icons {
        height: 100%;
        a.btn {
            display: table-cell;
            vertical-align: middle;
            height: auto;
            i:before {
                font-size: 1.5rem;
            }
        }
    }
}