.my-libraries-list {
    .card {
        button {
            width: 100%
        }
    }
    .status-point {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        background-color: gold;
        margin: 0 auto;
    }
}